@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
body {
    font-family: "Open Sans", sans-serif;
}


a:visited {
    color:inherit;
}


.main-add{
    
}
.submiter-profile {
    
}

.profile {
/*    border: 1px black solid;*/
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.profile-pic {
    display: block;
    background-image: url(../imgs/add-new-pic_button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 5px;
    margin: 5px;
    border: 1px grey solid;
    display: flex;
    width: 100px;
    height: 100px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: center;
    align-content: center;
    padding: 5px;
    padding-left: 0px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #9f9f9f solid;
    border-radius: 5px;
    width: 70vw;
    height: inherit;
    
    overflow-x: hidden;
    font-weight: 300;
    background: #efefef;
    
}


/* cool sliding input */
.clean-slide {
  position: relative;
  display: inline-block;
  width: 25vw;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 1px #5c5c5c solid;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
.clean-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.clean-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 13px 15px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #032429;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #5c5c5c solid;
  border-right: none;
  overflow: hidden;
}
.clean-slide + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #7AB893;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.clean-slide:focus,
.clean-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.clean-slide:focus::-webkit-input-placeholder,
.clean-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.clean-slide:focus + label,
.clean-slide:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transform: translateX(-100%);
}
.clean-slide:focus + label:after,
.clean-slide:active + label:after {
  transform: translate(100%);
}

.row {
  max-width: 800px;
  margin: 1px auto;
  background: #358895;
  position: relative;
  z-index: 1;
  text-align: center;
}

/* end */




.location-desc {
    
}





.mapAndLocationElement {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 3px;
}

.map {
    display: flex;
    flex: 1;
    border: 1px #9f9f9f solid;
    border-radius: 5px;
    margin-right: 1px;
    height: 30vh;
    width: 70vw;
}

.profile-from {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    padding: 15px
}

.form-label {
    min-width: 30vw;
    display: inline;
    flex-wrap: wrap;
}

.form-unit {
    display: flex;
    padding: 5px;
    flex-direction: row;
}

.red-border {
    border: 2px red solid;
}




