body {
    background-color: aliceblue;
}
.gmap {
    height: 100%;
    width: 50vw;
    
    border: 1px #9f9f9f solid;
    border-radius: 5px;
}

.add-new {
    display:flex;
    margin: 3px;
    justify-content: flex-start;
}

.main {
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
    padding: 2px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    max-height: 2.5em;
    flex: 1 1;
    border: 1px #9f9f9f solid;
    border-radius: 5px;
}

.search {
    display: flex;
    flex-grow: 1;
    
}

.slide-div{
  -webkit-animation-delay: 5s;
  -webkit-animation: slide 0.5s forwards;
  animation-delay: 5s;
  animation: slide 0.5s forwards;
  height: inherit;
  left: -500px;
  position: relative;
  width: inherit;
}
@-webkit-keyframes slide{
  100%{
    left: 0px;
  }
}
@keyframes slide{
  100%{
    left: 0px;
  }
}

.location-reviews {
    border: 1px #9f9f9f solid;
    border-radius: 5px;
    width: 70vw;
    height: auto;
    
    display: flex;
    flex-direction: column;
}

.location-unit {
    margin: 5px;
    padding: 0.5%;
    border: 2px #9f9f9f solid;
    border-radius: 5px;
    height: 4em;
    width: auto;
    
    display: flex;
    flex-direction: row;
    flex: 1 1;
    
}

.location-description {
/*    border: 1px black solid;*/
    
    height: 2em;
    width: auto;
    
}

.location-name {
/*    border: 1px black solid;*/
    
    height: 1em;
    width: auto;
    
}

.location-adress {
    max-width: 10vw;
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    align-items: center;
    flex:  1 1;
    padding: 3px;
    border: 1px #afadad solid;
    border-radius: 5px;
}

.pretty-btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Finger Paint', cursive;
  color: #000000;
  font-size: 16px;
  background: #bfbfbf;
/*  padding: 10px 20px 10px 20px;*/
  text-decoration: none;
  
    width: auto;
    max-height: 2em;
   display: flex;
   flex: 1 1;
    
    
}

.pretty-btn:hover {
  background: #9f9f9f;
  text-decoration: none;
}

.location-summary {
/*    margin: 0px 1px 0px 1px;*/
    padding: 3px;
    border: 1px #afadad solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
.profile-summary {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    max-width: 10vw;
    padding: 3px;
    border: 1px #afadad solid;
    border-radius: 5px;
}
.no-reviews{
    margin: auto;
    height: 2em;
    width: 30vw;
}

.app-title {
    font-family: 'Finger Paint', cursive;
    font-size: 1.3em;
    text-decoration-color: black;
/*    margin-left: 5px; margin-right: 5px;*/
    margin: auto;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-grow: 1;
/*    position: absolute;*/
}
