@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  background: #efefef;
}

.row {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
  background: #358895;
  position: relative;
  z-index: 1;
  text-align: center;
}
.row span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}


.clean-slide {
  position: relative;
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
.clean-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.clean-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 13px 15px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #032429;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.clean-slide + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #7AB893;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.clean-slide:focus,
.clean-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.clean-slide:focus::-webkit-input-placeholder,
.clean-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.clean-slide:focus + label,
.clean-slide:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transform: translateX(-100%);
}
.clean-slide:focus + label:after,
.clean-slide:active + label:after {
  transform: translate(100%);
}
.location-unit {
    display: flex;
    flex-direction: column;
}

.location-sum {
    display: flex;
    flex-direction: column;
    border: 1px red dotted;
}

.location-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #333;
}

.location-info {
    display: flex;
    flex-direction: column;
    border: 1px green dotted;
}

.location-unit {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}



/* rating system */


.container {
	width: 220px;
/*	margin: 0 auto;*/
/*	margin-top: 100px;*/
/*	margin-bottom: 40px;*/
}

.container ul {
	margin: 0 auto;
	list-style: none;
	padding-left: 20px;
}

.container ul li {
	display: inline-block;
	padding: 0px 5px;
}


.span {
	width: 22px;
	height: 22px;
	display: block;
	cursor: pointer;
	background: url('http://johnsonis.me/codepen/images/hrt.png');
	background-position: 0px 0px;
}



/* REVIEW OPTIONS */

/* VARS
   ============================== */

	@baseColor: 		 #2196F3;
	@baseBg: 			   #eeeeee;
	@lightBg:				 #fafafa;
	@lightBlue:		   #03A9F4;
	@lightGrey:			 #727272;

	@baseFontSize:   16px;
	@baseFontFamily: 'Roboto', sans-serif;
	@baseLineHeight:  2.35;
	@textColor:       #222222;

	@borderRadius:		2px;

	/* variable for number of list elements*/
	@lengtOfListElements: 	5;

 

/* MIXINS
==================================*/

.transition (@prop: all, @time: 1s, @ease: linear) {
	  -webkit-transition: @prop @time @ease;
	  transition: @prop @time @ease;
}

.card-shadow {
		box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}

/* GENERAL STYLES
   ================================== */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.review-options {
  font-family: @baseFontFamily;
  font-size:   @baseFontSize;
  line-height: @baseLineHeight;
  background:  @baseBg;
  margin: 0;
  padding: 0;
}

.container-option {
  text-align: center;
  position: relative;
  background: @lightBlue;

  &:before{
    content: "";
    display: block;
    height: 1.25em;
    background: darken(@lightBlue,10%);
  }
}



/* INPUT
   ================================== */

#input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid @lightBlue;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 0.95em;
  width: 210px;
  cursor: pointer;
  color:   @lightGrey;
  text-decoration: none;
  .transition (all, 550ms, cubic-bezier(0.19, 1, 0.22, 1));
  opacity: 1;
  transform-origin: right top;

  &.open {
    opacity: 0;
  }
}

/* DROPDOWN
   ================================== */

.button-group {
  position: relative;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 2em;
  top: 5.5em;

  .marka {
    position: absolute;
    right: 8px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;

    i {
      background: grey!important;
    }
  }
}

#dropdown-menu{
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 175px;
  list-style: none;
  text-align: left;
  border-radius: @borderRadius;
  background: @lightBg;
  &:extend(.card-shadow);
  .transition (all, 350ms, cubic-bezier(0.19, 1, 0.22, 1));
  transform: scale(0);
  transform-origin: right top;

  li {
    position: relative;
    line-height: 2.35em;
    transform: translate3d(0, -10px, 0);
    opacity: 0;

    a {
      color: @textColor;
      text-decoration: none;
      font-size: 1em;
    }
  }

  &.open {
    transform: scale(1);

    li {
      .transition (all, 350ms, cubic-bezier(0.19, 1, 0.22, 1));
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

/* loop to increase transitiion-delay for list elements*/
.loop(@counter) when (@counter > 0) {
  .loop((@counter - 1)); 

  .open li:nth-child(@{counter}) {
    transition-delay: 0.070s * @counter !important; 
  }
}
.loop(@lengtOfListElements);

.no-reviews {
    margin: auto;
    height: auto;
    width: auto;
}


@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
/* Main Styles */
.button {
  display: block;
  background-color: #377D6A;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
  content: '';
  background-color: black;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button .icon .fa-check {
  height: 36px;
}
.button.success span, .button:hover span {
  left: -72%;
  opacity: 0;
}
.button.success .icon, .button:hover .icon {
  width: 100%;
}
.button.success .icon .fa, .button:hover .icon .fa {
  font-size: 45px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: .9;
  /* .icon .fa-remove {
  	height: 46px; 
  } */
}
.button:active {
  opacity: 1;
}
